<footer class="d-flex align-item-center">
    <div class="container-fluid bkgfoot">
        <div class="container">
            <div class="row">
                <div class="col-12 coltitlfoot">
                    <div class="col-md-5 col-12 footlogo">
                        <img src="assets/img/Logozais.webp" alt="">
                        <a href="#" class="ms-2 foottitle">Zata Amani Islamic School</a>
                    </div>
                    <div class="col-md-7 col-12 kontakfooter">
                        <!-- <div class="row kontakfooter"> -->
                            <div class="col-12 coldtfoot">
                                <div class="col-12 order-md-2 order-2">
                                    <p> <a href="https://www.google.com/maps?q=-6.047865691717005, 106.0693369541678"
                                            target="_blank">
                                            <i class="bi bi-geo-alt"></i>
                                            <span class="icon-text-space">
                                                Griya Cilego, Harjatani, Kec. Kramatwatu, Kab. Serang Prov. Banten
                                            </span>
                                        </a>
                                    </p>
                                </div>
                                <div class="col-12 dtlcolfoot order-md-2 order-1">
                                    <a href="https://www.instagram.com/primaryedu/" target="_blank">
                                        <i class="bi bi-instagram ms-2"></i>
                                        <span class="icon-text-space">
                                            Zais Primary Edu
                                        </span>
                                    </a>
                                    <a href="https://www.facebook.com/profile.php?id=100011333390189&locale=id_ID"
                                        target="_blank">
                                        <i class="bi bi-facebook ms-2"></i>
                                        <span class="icon-text-space">
                                            Zais Primary Edu
                                        </span>
                                    </a>
                                    <a href="https://wa.me/+6282240678015" target="_blank">
                                        <i class="bi bi-whatsapp ms-2"></i>
                                        <span class="icon-text-space">
                                            087-771-110-936
                                        </span>
                                    </a>
                                    <a href="#" target="_blank">
                                        <i class="bi bi-telephone-forward-fill ms-2"></i>
                                        <span class="icon-text-space">
                                            (0254) 7818477
                                        </span>
                                    </a>
                                </div>
                            </div>

                        <!-- </div> -->
                    </div>
                </div>
                <div class="col-12 copyright">
                        <p>Copyright bg Zais All Right Reserved.</p>                    
                </div>
            </div>
            <!-- <div class="row position-absolute copyright">
                
            </div> -->
        </div>
    </div>
</footer>